.lcd {
  height: 21px;
  width: 11px;
  float: left;
  margin: 3px 1px;
  background-repeat: no-repeat; }

.n0 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAEMBCkSamUdeK0dQYgmHFhp5VjaZLhp25gAMjyNd+0GOPiqbotYK/yE66Klk8yxRlZIgA7); }

.n1 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAENBCAMCutFidMb0qdJH7bJQJkeJLY+qnj17pX6Ek2h2foHMMSlikG8glPwZdRVtMUMzcoJgIAOw==); }

.n2 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAENxCkSSkIsk55s50YBoxeR45UeJbimZqk1boJpm2Jd3N3HmyrjuUUGhJLxx/waBwVcxqhTjatACIAOw==); }

.n3 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAENhCkSSkIsk55s50YBoxeR45UeJbimZqk1boJpm2Jd3d3ns+xGgy1AXpUtN/qOGTpfMIep7eJAAA7); }

.n4 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAENhCAMCsFSdItk9cV5n1SN5LliZpnyY6uCMey3GZqS+V4GHscF+wiBPpYR1Yw9bkEjZZQJhqMAAA7); }

.n5 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAENxCkSamUdYKg88YJIIrBZo0kiH6ctpbnWLZrGmYajOdgdZW1yWxlAaIowyOPKPwoQzpLc3fZaSIAOw==); }

.n6 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAEMhCkSamUdYKg88YJIIrBZo0kiH6ctpbnWLZrGmYajHdgpdYeFG41FAZHRaTPY9lddpoIADs=); }

.n7 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAENxCkSSkIsk55s50YBoxeR45UeJbimZqk1bqJqIrJeJt2h8M0FS03Q4GArJVHGNv0cDWdDyXdASIAOw==); }

.n8 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAEKhCkSamUdeK0dQYgmHFhp5VjaZLhp24rJ49eDL9um4v7qqaoiglGu9A0EQA7); }

.n9 {
  background-image: url(data:image/gif;base64,R0lGODlhCwAVALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAACwAVAAAEMRCkSamUdeK0dQYgmHFhp5VjaZLhp24rJ49aEF/2O9l5W+s7QE/0U1F4xt8nSLvQNBEAOw==); }


body {
  font-family: helvetica,arial,sans-serif;
}

.App {
  width: 320px;
  margin: 20px auto;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}

.TaskForm {
  display: flex;
}

.TaskForm input {
  flex: 1;
  border: none;
  padding: 5px 8px;
  font-size:16px;
}

.TaskForm input + input {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.TaskForm button {
  background: tomato;
  color: white;
  font-weight: bold;
  box-shadow: none;
  margin: 3px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.Tasks {
  border-top: 3px double #e5e5e5;
}

.Task {
  font-size: 13px;
  font-weight: 200;
  line-height: 21px;
  display: flex;
  padding: 3px 8px;
}

.Task + .Task {
  border-top: 1px solid #e5e5e5;
}

.Task { color: tomato; }
.Task.u-done { color: #e5e5e5; }

.TaskName { flex:1; }
